<div class="BgVideoIA">
    <video autoplay loop muted src="assets/videos/VideoIA.mp4" type="video/mp4"></video>
</div>

<div class="carteGlobale">
    <div class="boxAcceuil ">
        <div class="cercle"></div>
        <div class="contenu">
            <h2 class="">Christophe C.</h2>
            <div class="boutonA">
                <a class="entrez" href="/portafolio">Come In!</a>
                <div class="iconsContent ">
                    <a href="https://www.linkedin.com/in/christophe-chadoutaud-43840354/"><img src="assets/images/linkedin (1).png" alt="linked-in"></a>
                    <a href="skype:christophe.chadoutaud?call"><img src="assets/images/skype.png" alt="skype"></a>
                    <a href="https://github.com/chagit2022"><img src="assets/images/githubgenericname.png" alt="git-hub"></a>
                </div>
            </div>
        </div>
        <img class="chrisfoto" src="assets/images/chris_bootcamp_2022.png" alt="photo perso">
    </div>
</div>
